@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300&display=swap");
@tailwind base;
* {
  scrollbar-width: 5px;
  scrollbar-color: #323946 #0ef;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #323946;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #323946;
  border-radius: 14px;
  border: 3px solid #0ef;
}
@tailwind components;
@tailwind utilities;
